@import 'partials/reset';
@import 'partials/variables';
@import 'partials/mixins';

body {
    @include content-center;
    height: 100vh;
    color: #333;
    background-color: $theme-color;
    font-family: sans-serif;
    div {
      text-align: center;
    }
    small {
      display: block;
      margin-bottom: 2em;
    }
    p {
      font-size: 1.5em;
    }
  }
  